.card-container {
    display: none;
}

.card-container-phone {
    display: block;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.card-title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    font-weight: bold;
    color: #F9F871;
}

.text-container {
    width: 80%;
    min-height: 128px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    padding-bottom: 30px;
    padding-top: 20px;
    background-color: #dcdcdc;
    box-shadow: #dcdcdc 0px 3px 9px;
}

.text {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    font-size: 1rem;
    font-weight: normal;
    color: #191923;
    text-align: center;
}

@media (min-width: 640px) {
    .card-container {
        display: block;
    }

    .card-container-phone {
        display: none;
    }

    .card {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 120px;
    }

    .card-title {
        font-size: 2.25rem;
    }

    .text-container {
        width: 60%;
    }

    .text {
        margin-top: 8px;
        font-size: 1.25rem;
    }
}

@media (min-width: 1024px) {
    .text {
        font-size: 1.5rem;
    }
}