.email {
    transition: all 0.3s ease-in-out;
}

.email:hover {
    color: var(--accent-color);
}

.contact-icon {
    transition: all 0.3s ease-in-out;
}

.contact-icon:hover {
    transform: translateY(-0.5rem);
}

@media (min-width: 1024px) {
    .line {
        position: absolute;
        width: 1px;
        height: 100px;
        background-color: var(--text-color);
        bottom: 10px;
    }
}

@media (min-width: 1280px) {
    .line {
        height: 150px;
    }
}