@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --title-color: #F9F871;
  --text-color: #EEEDFF;
}

body {
  background-color: rgb(25, 25, 35);
  color: var(--text-color);
  width: 100%;
}

.menu li {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}

.menu li:hover {
  background-size: 0 2px, 100% 2px;
  cursor: pointer;
}

.card {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 170px;
  height: 300px;
  margin-top: 40px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.75);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  transition: all 0.5s ease-in-out;
}

.typing-effect {
  animation: letters, blink .5s step-end alternate;
  animation-fill-mode: forwards;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  opacity: 0;
}

@keyframes letters {
  0% {
    width: 0;
    opacity: 1;
  }

  99% {
    border-color: #888;
  }

  100% {
    opacity: 1;
    border-color: transparent;
  }
}

.cmd p {
  margin-left: 8px;
}

.cmd textarea {
  width: 98.5%;
  height: 24px;
  margin-left: 8px;
  caret-color: white;
  color: white;
  background-color: black;
  resize: none;
  margin-bottom: -4px;
  margin-left: 8px;
}

.cmd textarea::placeholder {
  color: white;
  opacity: 1;
}

.cmd textarea:focus {
  outline: none;
}

.cmd p::before {
  content: "> ";
}

@media (min-width: 640px) {
  .card {
    min-width: 300px;
    max-width: 350px;
    height: 400px;
    margin-top: 80px;
  }

  .menu li {
    font-size: 1.3rem;
    background-image: linear-gradient(rgba(239, 233, 231, 0), rgba(239, 233, 231, 0)),
      linear-gradient(rgba(249, 248, 113, 1), rgba(249, 248, 113, 1));
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 350ms linear;
  }

  .card:hover {
    transform: rotate3d(0, 1, 0, 180deg);
  }

  .card h2:nth-child(1) {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
  }

  .card p {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
  }

  .card:hover img {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
  }

  @keyframes slide-from-left {
    from {
      opacity: 0;
      transform: translateX(-35%);
      filter: blur(5px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
      filter: blur(0);
    }
  }

  .test {
    margin-bottom: 100px;
    animation: linear slide-from-left both;
    animation-timeline: view();
    animation-range: entry 25% cover 35%;
  }
}

@media (min-width: 900px) {
  .test {
    animation-range: entry 25% cover 45%;
  }
}