p > a {
    color: var(--accent-color);
}

.main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    position: relative;
    scroll-behavior: smooth;
}

.main > section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}

.list-soft-skills > li {
    font-weight: 700;
    font-size: 1.25rem;
    display: inline-block;
}

.list-soft-skills > li > span {
    font-size: 1.25rem;
    font-weight: 500;
}

.tech-list > li {
    font-size: 1.25rem;
}

.tech-list > li::marker {
    color: var(--accent-color);
}

.contact-button {
    width: auto;
    background-color: var(--accent-color);
    color: var(--background-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

.contact-button:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 25px 0 rgba(0,0,0,0.5);
}