p > a {
    color: var(--accent-color);
}

.main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    position: relative;
    scroll-behavior: smooth;
}

.main > section {
    height: 650px;
}

section.presentation div {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

section.presentation h3 {
    font-size: 1.75rem;
    font-weight: 700;
}

section.presentation p {
    font-size: 1rem;
    margin-top: 16px;
}

.list-soft-skills > li {
    font-weight: 700;
    font-size: 1.125rem;
    display: inline-block;
}

.list-soft-skills > li > span {
    font-size: 1rem;
    font-weight: 500;
}

section.techs {
    height: 90vh;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

figcaption{
    font-size: 1.25rem;
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 1px;
}

.tech-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    margin-top: 16px;
    list-style-type: disc;
    list-style-position: inside;
}

.tech-list > li {
    font-size: 1rem;
}

.tech-list > li::marker {
    color: var(--accent-color);
}

section.project {
    height: 100vh;
}

section.contact {
    height: 60vh;
}

.contact-button {
    width: auto;
    background-color: var(--accent-color);
    color: var(--background-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

.contact-button:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 25px 0 rgba(0,0,0,0.5);
}

@media (min-width: 640px) {
    .main > section {
        height: 70vh;
    }

    section.presentation {
        height: 40vh;
    }

    section.presentation div {
        width: 50%;
    }

    section.presentation h3 {
        font-size: 1.25rem;    
    }

    section.presentation p {
        font-size: 0.875rem;
    }

    .list-soft-skills > li {
        font-size: 0.875rem;
    }

    .list-soft-skills > li > span {
        font-size: 0.875rem;
    }
    
    section.techs {
        height: 70vh;
    }

    figure {
        width: 50%;
    }

    .contact-button {
        font-size: 1.125rem;
    }
}

@media (min-width: 768px) {
    .main {
        width: 100%;
    }

    section.presentation {
        height: 70vh;
    }

    section.presentation div {
        width: 33.33%;
    }

    section.presentation h3 {
        font-size: 1.5rem;
    }

    section.presentation p {
        font-size: 0.875rem;
    }

    .list-soft-skills > li {
        font-size: 1rem;
    }

    .list-soft-skills > li > span {
        font-size: 1rem;
    }

    figure {
        width: 33.33%;
    }

    figcaption {
        font-size: 1.125rem;
        font-weight: 700;
    }
}

@media (min-width: 1024px) {
    .main {
        width: 85%;
        height: 100vh;
    }

    .main > section {
        height: 100vh;
        scroll-snap-align: start;
    }

    section.presentation div {
        align-items: flex-start;
        text-align: start;
    }

    section.presentation h3 {
        font-size: 1.6rem;
    }

    section.presentation p {
        font-size: 1rem;
    }

    .list-soft-skills > li {
        font-size: 1.125rem;
    }

    .list-soft-skills > li > span {
        font-size: 1.125rem;
    }
    
    figcaption {
        font-size: 1.25rem;
    }

    .tech-list > li {
        font-size: 1.125rem;
    }

    .contact-button {
        font-size: 1.25rem;
    }
}

@media (min-width: 1280px) {
    .main {
        width: 80%;
    }

    section.presentation h3 {
        font-size: 2.25rem;
    }

    section.presentation p {
        font-size: 1.125rem;
    }

    .list-soft-skills > li {
        font-size: 1.25rem;
    }

    .list-soft-skills > li > span {
        font-size: 1.25rem;
    }
    figcaption {
        font-size: 1.5rem;
    }
    .tech-list > li {
        font-size: 1.25rem;
    }
}